/* mixins */
/* mixin for smiley faces in pricing section */
/* pricing page styles */
.pricing-page {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  margin: 0; }

.pricing-hero {
  background-color: #2C3E50;
  padding: 125px; }
  .pricing-hero .pricing-hero-text {
    color: #ffffff;
    font-size: 32px;
    font-weight: 300;
    margin: 0 auto;
    max-width: 950px;
    text-align: center; }
  .pricing-hero .blue-bold-text {
    color: #29ABE2;
    font-weight: 700; }

.row-header {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 35px;
  text-align: center; }

.pricing-plans {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background-color: #ffffff;
  color: #2C3E50;
  padding: 50px; }
  .pricing-plans .most-popular {
    background-color: #eaeaea;
    color: #2C3E50;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 100%; }
  .pricing-plans .pricing-plans-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
  .pricing-plans .pricing-plans-row:nth-of-type(2) {
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
  .pricing-plans .pricing-widget {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    border: 1px solid #eaeaea;
    box-shadow: 0px 0px 10px 1px #eaeaea;
    padding: 0;
    margin: 0 20px; }
  .pricing-plans .pricing-widget:nth-of-type(2) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding-top: 0; }
  .pricing-plans .pricing-column {
    position: relative;
    max-width: 400px;
    max-width: 310px;
    padding: 10px;
    position: relative; }
    .pricing-plans .pricing-column li:before {
      background-image: url("../images/checkmark-orange.svg");
      background-size: contain;
      content: '';
      height: 13px;
      left: 13px;
      margin-top: 5px;
      position: absolute;
      width: 13px; }
  .pricing-plans .plan-header {
    background-color: #ffffff;
    border-bottom: solid 2px #F7931E;
    color: #F7931E;
    font-size: 21px;
    font-weight: 400;
    padding: 10px;
    text-align: center; }
  .pricing-plans .plan-blurb {
    border-bottom: 1px solid #eaeaea;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
    text-align: center; }
  .pricing-plans .plan-subheader {
    font-weight: 700;
    margin: 10px 0 5px 15px; }
  .pricing-plans .plan-list {
    padding-bottom: 10px;
    margin-left: 35px;
    margin-right: 10px; }
  .pricing-plans .plan-item {
    font-size: 14px;
    margin-bottom: 5px; }
  .pricing-plans .bold-plan-text {
    font-weight: 700; }
  .pricing-plans .individual-plan-price {
    border-top: 1px solid #eaeaea;
    font-weight: 700;
    padding: 15px;
    text-align: center; }
  .pricing-plans .pricing-button {
    background-color: #F7931E;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    max-width: 150px;
    margin: 0 auto 10px auto;
    padding: 5px;
    text-align: center; }
    .pricing-plans .pricing-button:hover {
      background-color: #29ABE2; }
  .pricing-plans .indecision-column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    margin: 50px 50px 0px 50px; }
  .pricing-plans .indecision-header {
    border-bottom: solid 2px #2C3E50;
    font-size: 30px;
    font-weight: 400;
    padding: 0px 0px 5px 30px; }
  .pricing-plans .indecision-options-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row; }
  .pricing-plans .indecision-widget {
    border: 1px solid #eaeaea;
    box-shadow: 0px 0px 10px 1px #eaeaea;
    margin-bottom: 20px;
    padding: 40px; }
  .pricing-plans .indecision-button {
    background-color: #F7931E;
    border-radius: 5px;
    color: #ffffff;
    max-width: 150px;
    margin: 0 auto 10px auto;
    padding: 5px;
    text-align: center; }
    .pricing-plans .indecision-button:hover {
      background-color: #29ABE2; }
  .pricing-plans .indecision-hidden-row {
    display: none;
    border: 1px solid #eaeaea;
    padding: 50px;
    margin-left: 30px; }
  .pricing-plans .indecision-text {
    font-weight: 700;
    padding-bottom: 15px;
    text-align: center; }
  .pricing-plans .options-text-1 {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px; }
  .pricing-plans .options-text {
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center; }
  .pricing-plans .cs-placeholder {
    width: 450px; }
  .pricing-plans .signup-form {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .pricing-plans select {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    box-sizing: content-box;
    color: #F7931E;
    font-size: .85em;
    font-weight: 400;
    height: 37px;
    padding: 10px;
    width: 220px; }
  .pricing-plans input {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 10px;
    margin: 10px 0;
    width: 200px; }
  .pricing-plans .signup-subheader {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-self: flex-start;
    -ms-align-self: flex-start;
    -moz-align-self: flex-start;
    align-self: flex-start;
    font-size: 12px;
    margin-left: 65px;
    padding: 5px 0px; }
  .pricing-plans .hs-form {
    margin-bottom: 0; }
  .pricing-plans .hs-form .hs-button {
    background-color: #F7931E;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    text-shadow: none;
    font-weight: 700;
    box-shadow: none;
    border: none;
    width: 220px;
    text-transform: uppercase; }
    .pricing-plans .hs-form .hs-button:hover {
      background-color: #29ABE2; }

/* .pricing-offer {
    background-color: #29ABE2;
    padding: 50px;
    .pricing-offer-header {
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
}
 */
.coaching-info {
  background-color: #2C3E50;
  color: #ffffff;
  padding: 50px; }
  .coaching-info .coaching-plan-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
  .coaching-info .coaching-plan-column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin: 0px 25px;
    max-width: 275px;
    text-align: center; }
  .coaching-info .coaching-column-header {
    color: #29ABE2;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px; }
  .coaching-info .coaching-images {
    margin: 0 auto 15px auto;
    max-height: 50px;
    max-width: 75px; }
  .coaching-info .coaching-text {
    font-weight: 300; }
